/* General Layout */
.about-us-container {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;

  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
}
  
.about-us-header {
  text-align: center;
}
  
.about-us-header h1 {
  padding-top: 20px;
  font-weight: 600;
}
  
.about-us-header p {
  text-wrap: wrap;
  font-size: 1.2rem;
  color: rgba(70 69 69 / 100%);
}
  
/* Content Section */
.about-us-section h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 40px;
}
  
.about-us-section p {
  font-size: 1.1rem;
  color: rgba(70 69 69 / 100%);
  line-height: 1.6;
  margin-top: 10px;
  text-wrap: wrap;
  max-width: 70vw;

  text-align: justify;
}

/* Team Section */
.team-members {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  margin-top: 17px;
}

.team-member {
  display: flex;
  flex-direction: column;
  
  padding: 3px 12px;
  height: 250px;
  
  border: solid 10px #E6D8C8;
  box-shadow: 0 2px 8px rgba(0 0 0 / 10%);

  transition: transform 0.2s ease-in-out;
}

.team-member:hover {
  transform: translateY(-5px);
}

.team-member .img-desc {
  display: flex;
  align-items: center;
}
.team-member .desc{
  max-height: 150px;
  width: 100%;

  font-size: 15px;
  padding-left: 12px;
}

.team-member h3 {
  font-size: 1.5rem;
  color: #2c3e50;
  font-weight: 300;
  text-wrap: nowrap;
}

.team-member p {
  font-size: 1.1rem;
  color: #7f8c8d;
  margin-top: -8px;
  text-align: justify;
  font-weight: 300;
}
  
.team-member img {
  width: 150px;
  height: 150px;
}
  

/* Footer Section */
.about-us-footer {
  text-align: center;
  margin: 30px 0;
}
  
.about-us-footer h3 {
  font-size: 1.8rem;
  color: #2c3e50;
}
  
.about-us-footer a {
  color: rgba(204 129 63 / 50%);
  text-decoration: none;
  font-weight: bold;
}
  
.about-us-footer a:hover {
  text-decoration: underline;
}