.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Poppins', sans-serif;
  max-width: 80vw;
  margin: 20px auto;
}

.dashboard h2 {
  color: black;
  font-weight: 500;
  font-size: 30px;
}

.dashboard .star-table {
  color: black;
  border-collapse: separate; /* Use separate borders for gaps */
  border-spacing: 40px 20px;
  border: solid 10px #E6D8C8;
  margin-bottom: 50px;
}

.dashboard .star-table tr th {
  font-size: 16px;
  font-weight: 300;
  text-align: left;
}

.dashboard .star-row {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dashboard h4 {
  color: black;
  font-size: 20px;
  font-weight: 300;
  margin-top: 40px;
}

.dashboard .student-feedback {
  border: solid 10px #E6D8C8;
}

.dashboard .student-table {
  min-width: 65vw; /* Set the maximum width for the table */
  max-width: 80vw;
  margin: 0 auto; /* Center the table if it's smaller than the screen width */
  table-layout: fixed; /* Ensures each column has equal width */
  border-collapse: collapse;
}

.dashboard .student-table th,
.dashboard .student-table td {
  text-wrap: wrap;
  text-align: center;
  width: 16.66%; /* 100% / 5 columns = 20% width for each column */
  padding: 10px;
  border: 1px solid #E6D8C8;
}

.dashboard .student-table th {
  color: black;
  font-weight: 300;
}
.dashboard .student-table td {
  color: black;
  font-weight: 300;
}

.dashboard .student-table thead tr {
  background-color: #F9F1E7;
}

.dashboard .student-table tbody .even {
  background-color: white;
}

.dashboard .student-table tbody .odd {
  background-color: #F9F1E7;
}

.dashboard .student-feedback > h4 {
  margin-left: 15px;
  font-size: 16px;
  width: fit-content;
  border-bottom: solid 1px #DEDEDE;
}

.dashboard textarea {
  display: block;
  border: none;
  width: 100%;


  height: auto;
  min-width: 65vw; /* Set the maximum width for the table */
  max-width: 80vw;
  margin: 0 auto;

  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
  
  text-wrap: wrap;
  text-align: justify;
  
  padding: 5px 25px;
  margin-bottom: 10px;
}

.dashboard textarea:focus {
  outline: none; /* Removes the default outline */
}