.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family: 'Poppins', sans-serif;
}

.home-page > * {
  color: black;
}

.home-page h1 {
  padding-top: 20px;
  font-weight: 600;
}

.home-page .contents{
  display: flex;
  gap: 5%;
}

.home-page .image-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;  /* Center horizontally */
  align-items: center;
  width: fit-content;
  border: solid 10px #E6D8C8;
}

.home-page img {
  height: 500px;
  padding: 10px;
}

.home-page h2 {
  font-size: 28px;
  font-weight: 500;
  width: fit-content;
  border-bottom: solid 1px #DEDEDE;
  margin-bottom: 20px;
}

.home-page .context {
  flex: 1;
}

.home-page p {
  text-wrap: wrap;
  text-align: justify;
  width: 400px;
}

