
header {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 96px;
}

header .logo {
  height: 50px;
  margin: 0px 5px 0px 20px;
}

header .website_name{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 25pt;
  color: #2E2E2E;
  padding: 5px 10px 5px 10px;
}


header .topright-display {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding-right: 30px;
  margin-left: auto;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

header .topright-display span,
header .topright-display img {
  cursor: pointer;
  border-radius: 8px;
  border: solid 1px black;
  transition: transform 0.3s ease;
}

header .topright-display span{
  padding: 10px 20px;
}

header .topright-display img {
  height: 48px;
}

header .topright-display span:hover,
header .topright-display img:hover{
  transform: scale(1.1);
}

header .topright-display span:active,
header .topright-display img:active{
  opacity: 0.7;
}

header .top-name {
  font-size: 22px;
  font-weight: 500;
  margin-right: 30px;
}
