.main-login {
  margin: 20px auto;
  font-family: 'Poppins', sans-serif;
}

.main-login h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.main-login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border: solid 10px #E6D8C8;
}

.main-login .fields {
  display: flex;
  flex-direction: column;
  padding: 15px 15px 0 15px;
}

.main-login .fields > label {
  font-size: 13px;
  font-weight: 500;
}

.main-login input[type="radio"] {
  margin-right: 3px;
  height: 11px;
}

.main-login .fields .usertype {
  display: flex;
  gap: 30px;
}

.main-login .fields .usertype label {
  font-size: 15px;
}

.main-login .fields input:not([type="radio"]) {
  font-size: 13px;
  padding-left: 5px;
  border: solid 1px #9F9F9F;
  border-radius: 5px;
  height: 45px;
}

.main-login .fields input:not([type="radio"]):focus {
  border: solid 2px #c4b29c;
  outline: none;
}

.main-login .fields [type="email"],
.main-login .fields [type="password"] {
  font-family: 'Poppins', sans-serif;
  width: 400px;
}

.main-login input{
  margin-bottom: 20px;
}

.main-login input[type="submit"] {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  padding: 10px 50px;
  margin: 10px 0 30px 0;
  border: solid 1pt black;
  background-color: white;
  border-radius: 10px;
  transition: 0.3s;
}

.main-login input[type="submit"]:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.main-login input[type="submit"]:active {
  opacity: 0.7;
}

.main-login > form > span {
  color: #7a7a7a;
  font-size: 12px;
  font-weight: lighter;
  font-style: italic;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: 0.3s; 
}

.main-login > form > span:hover {
  text-decoration-color:  #7a7a7a;
  cursor: pointer;
}
