nav {
  background-color: rgba(255 255 255);
  padding: 5px;
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  gap: 6%;
  transition: 0.2s;
}


nav > ul > *:hover {
  transform: scale(1.05); /* Slightly scale up the item */
  text-decoration: underline; /* Add underline on hover */
}


nav > ul > * {
  text-decoration: none; /* Remove underline initially */
  color: #0D0E43; /* Dark gray text color */
  transition: transform 0.2s ease; /* Smooth scaling transition */
}

